# This is a sample local configuration file for psycobuild slaves
#
# Copy this file as ``personal_settings.py`` and change its content to
# configure the slaves you want to run.

# The name of the slave to run and its password.
slave_name = ''  # this must be specified
slave_password = 's3cret'

# Other parameters set override the ones in the ``buildbot.tac``.
# basedir = r'/var/lib/buildbot/psycobuild/slave'

